<h1>Boostrap Clone</h1>

<h3>Alert Dismissing</h3>

<div class="dismiss">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button class="close" type="button">
        <span>×</span>
    </button>
</div>

<h3>Collapse</h3>

<div>
    <p>
        <button class="toggle-collapse btn btn-primary" type="button" data-target="#collapsetext">
        Toggle
        </button>
    </p>

    <div id = "collapsetext" >
        <div class="card card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla justo mi, lacinia ac leo a, consectetur ullamcorper urna. Phasellus in orci at tellus tempor pulvinar sit amet in lectus. Vivamus eget neque in eros malesuada vulputate. Nam tristique dapibus nunc, sit amet tincidunt dui sodales eget. Morbi aliquam at ipsum sit amet suscipit. Nam eleifend justo volutpat orci viverra, a porttitor est vestibulum. Ut tristique fermentum lobortis. Ut porta nunc nec justo ultricies, accumsan varius justo feugiat. Praesent ac dignissim dui, nec pulvinar ante. Praesent et nunc mattis tellus euismod consequat ac luctus leo. Donec vulputate mollis mattis. Praesent elit sem, venenatis a nisl ac, accumsan aliquet sapien. Nam nec interdum ex. Aenean interdum ligula quis tortor semper accumsan. Aliquam tincidunt tortor posuere quam malesuada, nec porta quam accumsan. 
        </div>
    </div>
</div>

<h3>Collapse Accordion</h3>

<div class="accordion">
    <div class="card">
        <div id="header_1" class="card-header">
            <h2>
                <button class="toggle-collapse-1 btn btn-link" type="button" data-target="#text_1">
                    Collapsible Group Item #1
                </button>
            </h2>
        </div>

        <div id="text_1" class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac nulla odio. Duis lacinia justo in quam semper cursus non ut lorem. Etiam arcu orci, convallis vel tempor a, lacinia quis elit. Mauris id ipsum pellentesque dui lobortis egestas in tristique lacus. Proin sed tellus ut dui aliquet pulvinar. Aenean eu tortor purus. Donec egestas magna non venenatis ultrices. Maecenas mi ante, sollicitudin in erat vitae, tempor pellentesque sapien. Aenean cursus, ligula vitae ornare sodales, mauris arcu tincidunt tellus, a pharetra nibh mi et lacus. Nullam efficitur neque at leo porttitor sodales. Vestibulum sed fringilla magna, sed aliquam felis. Pellentesque ullamcorper metus vitae euismod mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis ut lacus eu porttitor. 
        </div>
    </div>

    <div class="card">
        <div id="header_2" class="card-header">
            <h2>
                <button class="toggle-collapse-2 btn btn-link" type="button" data-target="#text_2">
                    Collapsible Group Item #2
                </button>
            </h2>
        </div>

        <div id="text_2" class="card-body">
            Nulla nulla mi, elementum nec fermentum in, lacinia vel augue. Etiam vitae vestibulum eros. In sagittis facilisis magna, ac congue augue convallis accumsan. Curabitur ut nisi ultricies diam pellentesque convallis. Duis accumsan purus eros, sit amet blandit lacus iaculis non. Vestibulum bibendum nulla et elit vulputate, at consectetur nulla mattis. Suspendisse in euismod turpis, eu condimentum neque. Suspendisse tempus volutpat lacus sed tempus. Fusce eu neque id dui bibendum faucibus. Donec aliquet vel nunc a viverra. Sed iaculis ornare purus, ac pretium est feugiat id. Vivamus id pulvinar magna. Donec malesuada ut ex eu blandit. Vivamus malesuada diam quis purus ornare vehicula. 
        </div>
    </div>

    <div class="card">
        <div id="header_3" class="card-header">
            <h2>
                <button class="toggle-collapse-3 btn btn-link" type="button" data-target="#text_3">
                    Collapsible Group Item #3
                </button>
            </h2>
        </div>

        <div id="text_3" class="card-body">
            Nullam ac cursus nibh, non rutrum sapien. Phasellus fringilla consectetur tincidunt. Donec dolor ipsum, dignissim id enim id, dapibus malesuada massa. Nulla sagittis purus massa, quis mollis sapien volutpat malesuada. Quisque mauris ante, convallis id enim vestibulum, faucibus condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at orci ut justo ultrices elementum eget et est. Quisque at metus orci. Nullam ultricies augue in mi sollicitudin, in porta nunc efficitur. 
        </div>
    </div>

</div>